@keyframes move {
  0% {
    transform: translateX(0px);
  }

100% {
    transform: translateX(4px);
  }
}

@keyframes heart {
  from {
    transform-origin: center;
    scale: 1;
  }

  to {
    transform-origin: center;
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

